name: Build and release
on: push
jobs:
  build:
    name: Build for Windows
    runs-on: windows-latest
    steps:
    - uses: microsoft/setup-msbuild@v1.0.2
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
        submodules: true
    - name: Build debug executable
      run: |
        cmake . -G "Visual Studio 17 2022" -A Win32 -DCMAKE_SH="CMAKE_SH-NOTFOUND" -DCMAKE_BUILD_TYPE="Debug"
        cmake --build . -- /p:Configuration=Release
        mv app\Release\maniac.exe maniac-dbg.exe
    - name: Build release executable
      run: |
        cmake . -G "Visual Studio 17 2022" -A Win32 -DCMAKE_SH="CMAKE_SH-NOTFOUND" -DCMAKE_BUILD_TYPE="Release"
        cmake --build . -- /p:Configuration=Release
        mv app\Release\maniac.exe maniac-prd.exe
    - name: Upload release build
      uses: actions/upload-artifact@v4
      with:
        name: maniac-prd
        path: maniac-prd.exe
    - name: Upload debug build
      uses: actions/upload-artifact@v4
      with:
        name: maniac-dbg
        path: maniac-dbg.exe
  release:
    name: Create release and upload builds
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
    - name: Download release build
      uses: actions/download-artifact@v4
      with:
        name: maniac-prd
    - name: Download debug build
      uses: actions/download-artifact@v4
      with:
        name: maniac-dbg
    - name: Create release
      id: create_release
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
    - name: Get the latest version
      id: get_version
      run: echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT
      shell: bash
    - name: Upload Windows release build
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: maniac-prd.exe
        asset_name: maniac-${{ steps.get_version.outputs.VERSION }}.exe
        asset_content_type: application/octet-stream
    - name: Upload Windows debug build
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: maniac-dbg.exe
        asset_name: maniac-${{ steps.get_version.outputs.VERSION }}-debug.exe
        asset_content_type: application/octet-stream
